.bookmark {
  border-radius: 4px;
  height: 40px;
  /* max-width: 200px; */
  width: 49%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #221934;
  color: #fff;
  border: none;
  padding: 0 12px;
}

.bookmark:hover {
  color: #fff700;
  cursor: pointer;
}