.bookmark {
  border-radius: 10px;
  height: 40px;
  max-width: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #221934;
  color: #fff;
  margin-right: 4px;
  border: none;
  padding: 0 12px;
}

.bookmark:hover {
  color: #fff700;
  cursor: pointer;
}
