.header {
  /*background-color: #580078;*/
  color: #fff700;
  display: flex;
  padding: 0 32px;
  background-color: #221934;
}

.header__logo {
  max-width: 256px;
  margin-right: 220px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__about:hover {
  cursor: pointer;
}

.header__divider:hover {
  cursor: default;
}

@media screen and (max-width: 479px) {
  .header {
    justify-content: space-between;
    padding: 0 12px;
  }

  .header__logo {
    margin-right: 0;
  }
}
